git+https://github.com/wpbrown/azmeta-libs#egg=azmeta&subdirectory=azmeta
git+https://github.com/wpbrown/azmeta-libs#egg=azmeta-notebook&subdirectory=azmeta-notebook
ipykernel
jupyter
matplotlib
pandas
papermill
Kqlmagic
openpyxl
