git+https://github.com/wpbrown/azmeta-libs#egg=azmeta&subdirectory=azmeta
git+https://github.com/wpbrown/azmeta-libs#egg=azmeta-notebook&subdirectory=azmeta-notebook
git+https://github.com/wpbrown/jupyter-Kqlmagic#egg=Kqlmagic
ipykernel
ipywidgets
jupyter
matplotlib
pandas
papermill
openpyxl
xlrd
